.accountContainer {
    display: flex;
    flex-wrap: wrap;

    .personalDataContainer {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        flex-basis: 50%;

        @media screen and (max-width: 1020px) {
            flex-basis: 100%;
        }

        div {
            display: flex;
        }
    }


    .personalQuizzContainer {
        flex-basis: 50%;
        @media screen and (max-width: 1020px) {
            flex-basis: 100%;
        }
    
        .quizzcontainer {
            display: flex;
            flex-wrap: wrap;

            div {
                border-radius: 3rem;
                background-color: lightblue;
                flex-basis: 45%;
                margin: 1rem;

                @media screen and (max-width: 1020px) {
                    flex-basis: 100%;
                }
            }
        }
    }
}

.changePassword{
    padding: 10px 10px;
    background-color: #2a2a00;
    color: #ffffff; 
    border: none;
    font-family: 'Press Start 2P', cursive; 
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.4);
}

.personalDataContainer > div:last-child {
    flex-direction: column;
    align-items: flex-start;
}