@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gloria+Hallelujah&family=Nosifer&family=Press+Start+2P&family=Sedgwick+Ave+Display&display=swap');

.Movies {
    background: url("../../public/media/pulp.jpg");
}
.Series {
    background: url("../../public/media/series.jpg");
}
.Cartoons {
    background: url("../../public/media/cartoons.jpg");
}
.VideoGame {
    background: url("../../public/media/jeux.jpg"); 
}
.general {
    background: url("../../public/media/general.jpg");   
}

.themeContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        margin-bottom: 10rem;

        @media screen and (max-width: 770px) {
            padding: 3rem;
        }

    .card {
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1rem;
        border-radius: 5rem 0;
        text-align: center;
        margin: 3rem;
        border : 4px solid black;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
        
        p {
            color:#00aaa0;
            font-weight: 900;
            font-size: 4rem;
            font-family: 'Sedgwick Ave Display', cursive;
        }
    }
}


