
.button {
    background-color: #000000;
    color: #fff;
    font-size: 2rem;
    font-weight: 900;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000000, #ffffff);
    transition: left 0.2s;
    z-index: -1;
}

.button:hover::before {
    left: 100%;
}

.padding {
    padding: 0% 10% !important;
}

.paddingContainer {
    padding: 0% 25% !important;

    @media screen and (max-width: 1440px) {
        padding: 0% 15% !important;
    }
}

.icon-white {
    color: white !important;
}