@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gloria+Hallelujah&family=Nosifer&family=Press+Start+2P&family=Sedgwick+Ave+Display&display=swap');
.header {
    background-color:rgb(255, 252, 249);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 10vh;
    min-height: 10rem;

    .menuContainer {
        display: flex;
        align-items: center;
        margin-right: 5rem;

        .menu {
            background:transparent;
            color: black;
            align-items: center;
            justify-content: center ;

            li{
                p{
                    font-size: 2rem;
                    font-weight: 900;
                    
                    

                    @media screen and (max-width: 1440px) {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

.OpenMenu {
    font-size: 4rem;
    font-weight: 900;
    background-color:  rgba(74, 128, 181, 0.7);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    text-align: center;
    align-items: center;

    p{
        color: rgb(0, 0, 0) !important;
        font-family: 'Press Start 2P', cursive;
    }
}



.hidden {
    display: none;
}

.burgerContainer {
    z-index: 3;
}

.burger {
    position: relative;
    height: calc(1.5rem + 4vh);
    margin:0 2vw ;
}
.burgerMenu{
    margin: 0;
    text-align: center;

}


.logo {
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 18vh;
    min-height: 5rem;
    width: 8vw;
    min-width: 15rem;
    color: white;
    cursor: pointer;
}




:where(.ant-menu-light .ant-menu-item-selected), :where(.ant-menu-light > .ant-menu .ant-menu-item-selected) {
    background-color: transparent !important;
}


.formLog {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 3;

    .inputLog {
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
    }
}

.menu-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  
    .menu-icon {
      width: 10vh; 
      height: 10vh;
      margin-right: 15px; 
    }
  
    p {
      margin: 0;
    }
  }
  