.quizzCreation {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p{
        text-align: center;
        text-transform: uppercase;
        font-family: 'Press Start 2P', cursive;
    }
}


.registerButton {
    background-color: #2a2a00;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.registerButton:hover {
    background-color: #ff6b00;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.formContainer {
    margin: 10rem;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    background-color:rgba(240, 240, 240, 0.3);
    border-radius: 3rem;
    margin-bottom: 5rem;

    @media screen and (max-width: 426px) {
        padding: 0 3rem;
    }

    

    h3{
        font-size: 2.5rem;
    }

    .success{
        color: green;
    }
    .error{
        color:red;
    }

    .column {
        display: flex;
        flex-direction: column;

        input{
            height: 3.5vh;
            border-radius: 1rem;
            border: none;
        }
    }

    .title {
        label{
            font-size: 3rem;
            color: white;
            margin: 1rem;
        }

    }

    .theme {
        label{
            font-size: 3rem;
            color: white;
            margin: 1rem;
        }
    }
    .visibility{
        margin: 1rem;
        flex-direction: row;
        align-items: center;
        font-size: 1.5rem;
        color: white;
        input{
            margin: 1rem 2rem;
        }
    }

    .question {
        label{
            margin: 1rem;
        }
    }

    .response {
        align-items: center;
        margin: 3rem;
        div{
            margin: 1rem;
            display: flex;
            flex-direction: column;
        }

    }

    .true {
        font-size: 1rem;
        color: green;
    }
    .buttonContainer{
        display: flex;
        justify-content: center;
        margin: 2rem 0;
        button{
            margin: 1rem 3rem;
        }

    }
}



// /Recap 

.answers{
    font-size: 2rem;
    font-family: 'REM', sans-serif;
}
.answersTrue{
    text-transform: lowercase;
    color: green;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'REM', sans-serif;
}
.answersFalse{
    text-transform: lowercase;
    color: red;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'REM', sans-serif;
}


.answersContainerRecap{
    display: flex;
    flex-wrap: wrap;

    .answersRecap{
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
        background-color:rgba(240, 240, 240, 0.3);
        border-radius: 2rem;
        margin: 1rem;

        @media screen and (max-width: 426px) {
            flex-basis: 100%;
        }
    }
}