@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gloria+Hallelujah&family=Nosifer&family=Press+Start+2P&family=Sedgwick+Ave+Display&display=swap');

.answersContainer {
    display: flex;
    flex-wrap: wrap;

    .answers {
        border: solid 1px black;
        background-color: lightgray;
        padding: 2rem;
        margin: 2rem;
        border-radius: 3rem;
        flex-basis: 45%;
        text-align: center;

        
    }
}


.scoreContainer {
    margin: 3rem 0;
    width: 100%;
    display: flex;
    justify-content: center;

    .p{
        color: black;
    }
}

.true-answer {
    background-color: green !important;
}
.false-answer {
    background-color: rgb(255, 0, 0) !important;
}

h2{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
}

p{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;

}