@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gloria+Hallelujah&family=Nosifer&family=Press+Start+2P&family=Sedgwick+Ave+Display&display=swap');

.answersContainer {
    display: flex;
    flex-wrap: wrap;

    .answers {
        border: solid 1px black;
        background-color: lightgray;
        padding: 2rem;
        margin: 2rem;
        border-radius: 3rem;
        flex-basis: 45%;
        text-align: center;
        position: relative;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);

        @media screen and (max-width: 1023px) {
            flex-basis: 100%;
        }

        &:hover {
            background-color: darkgray;
            color: white;
            transform: translateY(-5px);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
        }
    }
}


.scoreContainer {
    margin: 3rem 0;
    width: 100%;
    display: flex;
    justify-content: center;

    .p {
        color: black;
    }
}

.true-answer {
    background-color: green !important;
}

.false-answer {
    background-color: rgb(255, 0, 0) !important;
}

.resultWinContainer {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/media/win.gif);
    height: 100%;
    min-height: 87.5vh;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        color: white;
    }

    .returnBtn {
        margin: 3rem;
        width: 5%;
        
    }
}

.resultLoseContainer {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/media/lose.gif);
    height: 100%;
    min-height: 87.5vh;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        color: white;
    }

    .returnBtn {
        margin: 3rem;
        width: 5%;
        background-color: #ffffff;
        color: #000000; 
        border: none;
        padding: 10px 20px;
        font-family: 'Press Start 2P', cursive; 
        font-size: 16px; 
        cursor: pointer;
        border-radius: 4px;
        text-transform: uppercase; 
        transition: background-color 0.3s ease, box-shadow 0.3s ease; 
        box-shadow:5px 5px 5px rgba(0, 0, 0, 0.4);
    }
    
    .returnBtn:hover {
        background-color: #ff6b00; 
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6); 
    }
}

.quizzTitle {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;

    
    @media screen and (max-width: 428px) {
        font-size: 3rem;
    }
}

.questionIndex {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;

}

.ant-progress-text {
    color: #ffffff !important;
}