@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gloria+Hallelujah&family=Nosifer&family=Press+Start+2P&family=Sedgwick+Ave+Display&display=swap');

.titleRegister{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin-top: 0;
}
.registerContainer{
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center ;
    background-color:rgba(240, 240, 240, 0.3);
    border-radius: 3rem;
    margin: 0 10rem;

    .registerForm {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    
        div{
            margin: 3rem;
            flex-basis: 40%;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: 770px) {
                flex-basis: 100%;
            }

            label {
                margin: 1rem;
                font-family: 'REM', sans-serif;
            }
            input {
                border-radius: 1rem;
                border: none;
                height: 5vh;
            }
        }
    }
}



.registerButton {
    background-color: #2a2a00;
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    font-family: 'Press Start 2P', cursive; 
    font-size: 16px; 
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.4);
    margin: 3rem 0;

    @media screen and (max-width: 426px) {
        font-size: 10px !important; 
    }
}

.registerButton:hover {
    background-color: #ff6b00; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6); 
  }

  .success {
    color: green;
    margin-left: 2rem;
  }

.error{
    color: rgb(255, 3, 3);
    margin-left: 2rem;
}