@import "mixins";
@import "reset";
@import "header";
@import "footer";
@import "themes";
@import "quizz";
@import "components";
@import "home";
@import "about";
@import "register";
@import "account";
@import "quizzCreation";
@import url('https://fonts.googleapis.com/css2?family=REM:wght@100&display=swap');



* {
  list-style-type: none;
  
  font-family: 'REM', sans-serif;
}

.Container {
  color: rgba(0, 0, 0);
  width: 100%;
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
  height: 100%;
  min-height: 80vh;
  margin-top: 10vh;
  padding: 10rem;

  @media screen and (max-width: 768px) {
    padding: 10rem 3rem;
}}